<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>See Movies</title>
</head>
<body>
    <%- include("partials/navigation") %>
    <div class="ml-3 mr-3">
        <h1 class="p-3 mb-2 bg-secondary text-white text-center col-5 rounded"><%= cast.getFullName() %></div></h1>
        <div class="ml-3 mr-3">
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">Movie</th>
                        <th scope="col">Released Year</th>
                        <th scope="col">Age when Movie Released </th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < cast.Movies.length; i++) { %>
                        <tr>
                            <td><%= cast.Movies[i].name %></td>
                            <td><%= cast.Movies[i].released_year %></td>
                            <td><%= getAge(cast.birth_year, cast.Movies[i].released_year) %></td>
                            <% for (let j = 0; j < movieCasts.length; j++) { %>
                                <% if (movieCasts[j].MovieId === cast.Movies[i].id) { %>
                                    <td><%= movieCasts[j].role %></td>
                                <% } %>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>  
<%- include("partials/foot") %>